version: '3.1'
services:
  stats-server:
    build: stats
    image: stats-image
    ports:
      - "9090:9090"
    depends_on:
      - stats-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/stats
      - DB_NAME=stats
      - SPRING_DATASOURCE_USERNAME=stats
      - SPRING_DATASOURCE_PASSWORD=stats
      - DB_HOST=stats-db
      - DB_PORT=6542

  stats-db:
    image: postgres:14-alpine
    container_name: stats_db_container
    ports:
      - "6542:5432"
    environment:
      - POSTGRES_DB=stats
      - POSTGRES_USER=stats
      - POSTGRES_PASSWORD=stats

  ewm-server:
    build: server
    image: server-image
    ports:
      - "8080:8080"
    depends_on:
      - explorewithme-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://explorewithme-db:5432/explorewithme
      - DB_NAME=explorewithme
      - SPRING_DATASOURCE_USERNAME=explorewithme
      - SPRING_DATASOURCE_PASSWORD=explorewithme
      - DB_HOST=explorewithme-db
      - DB_PORT=6541

  explorewithme-db:
    image: postgres:14-alpine
    container_name: explorewithme_db_container
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=explorewithme
      - POSTGRES_USER=explorewithme
      - POSTGRES_PASSWORD=explorewithme
